<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">InnovaBank</a>

    <div class="d-flex">
      <ng-container *ngIf="userRole; else notLoggedIn">
        <div class="dropdown">
          <!-- 🔹 Solo se muestra el email -->
          <a class="email-link dropdown-toggle" id="userDropdown" role="button">
            {{ userEmail }}
          </a>
          <!-- 🔹 Se muestra el menú al pasar el cursor -->
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            <li>
              <a routerLink="/cuentas" class="dropdown-item" *ngIf="userRole === 'usuario'">Mis Cuentas</a>
              <a routerLink="/administrador" class="dropdown-item" *ngIf="userRole === 'admin'">Panel Admin</a>
            </li>
            <li><a class="dropdown-item" (click)="logout()">Cerrar Sesión</a></li>
          </ul>
        </div>
      </ng-container>

      <ng-template #notLoggedIn>
        <a routerLink="/registro" class="btn hazteCliente">Hazte cliente</a>
        <a routerLink="/login" class="btn login-btn">Login</a>
      </ng-template>
    </div>
  </div>
</nav>
