<div class="container">
  <h2>Cambiar Contraseña</h2>
  <form [formGroup]="cambiarForm" (ngSubmit)="cambiarPassword()">
    
    <div class="form-group">
      <label>Nueva Contraseña</label>
      <input type="password" formControlName="password" class="form-control">
      <small *ngIf="cambiarForm.get('password')?.invalid && cambiarForm.get('password')?.touched" class="text-danger">
        La contraseña no puede estar vacía.
      </small>
    </div>

    <div class="form-group">
      <label>Confirmar Contraseña</label>  
      <input type="password" formControlName="confirmPassword" class="form-control">
    </div>

    <small *ngIf="cambiarForm.get('confirmPassword')?.hasError('notMatching') && cambiarForm.get('confirmPassword')?.touched" class="text-danger">
      Las contraseñas no coinciden.
    </small>

    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="cambiarForm.invalid || cambiarForm.get('confirmPassword')?.hasError('notMatching')">
      Cambiar Contraseña
    </button>
  </form>
</div>
