<div class="container Formulario" style="max-width: 800px;">
  <h3 class="text-center mb-4"><b>Alta nueva cuenta</b></h3>

  <form [formGroup]="registroForm" (ngSubmit)="validarYEnviar()">
    <div>
      <label>Nombre Completo:</label>
      <input type="text" formControlName="nombreCompletoUsuario" placeholder="Introduce tu nombre completo" required>
    </div>
    <div>
      <label>DNI:</label>
      <input type="text" formControlName="dniUsuario" placeholder="Introduce tu DNI" required>
    </div>
    <div>
      <label>Teléfono:</label>
      <input type="text" formControlName="telefonoUsuario" placeholder="Introduce tu número telefónico" required>
    </div>
    <div>
      <label>Email:</label>
      <input type="email" formControlName="emailUsuario" placeholder="Introduce tu correo electrónico" required>
    </div>
    <div>
      <label>Confirmar Email:</label>
      <input type="email" formControlName="confirmEmailUsuario" placeholder="Vuelve a introdrucir tu correo electrónico" required>
    </div>
    <div>
      <label>Contraseña:</label>
      <input type="password" formControlName="passwordUsuario" placeholder="Introduce tu contraseña" required>
    </div>
    <div>
      <label>Confirmar Contraseña:</label>
      <input type="password" formControlName="confirmPasswordUsuario" placeholder="Vuelve a introducir tu contraseña" required>
    </div>

    <!-- Campos ocultos para rol y confirmado -->
    <input type="hidden" formControlName="rolUsuario" value="usuario">
    <input type="hidden" formControlName="confirmado" value="false">

    <button type="submit">Registrarse</button>
    <div *ngIf="mensajeError">{{ mensajeError }}</div>
  </form>

  <div id="result" class="text-center mt-3 text-danger"></div>
</div>
