<div class="container Formulario" style="max-width: 800px;">
  <h3 class="text-center mb-4"><b>Alta nueva cuenta</b></h3>

  <form [formGroup]="registroForm" (ngSubmit)="validarYEnviar()">
    <div>
      <label>Nombre Completo:</label>
      <input type="text" formControlName="nombreCompletoUsuario" required>
    </div>
    <div>
      <label>DNI:</label>
      <input type="text" formControlName="dniUsuario" required>
    </div>
    <div>
      <label>Teléfono:</label>
      <input type="text" formControlName="telefonoUsuario" required>
    </div>
    <div>
      <label>Email:</label>
      <input type="email" formControlName="emailUsuario" required>
    </div>
    <div>
      <label>Confirmar Email:</label>
      <input type="email" formControlName="confirmEmailUsuario" required>
    </div>
    <div>
      <label>Contraseña:</label>
      <input type="password" formControlName="passwordUsuario" required>
    </div>
    <div>
      <label>Confirmar Contraseña:</label>
      <input type="password" formControlName="confirmPasswordUsuario" required>
    </div>

    <!-- Campos ocultos para rol y confirmado -->
    <input type="hidden" formControlName="rolUsuario" value="usuario">
    <input type="hidden" formControlName="confirmado" value="false">

    <button type="submit">Registrarse</button>
    <div *ngIf="mensajeError">{{ mensajeError }}</div>
  </form>

  <div id="result" class="text-center mt-3 text-danger"></div>
</div>
