<div class="container-login mt-5">
    <h3 class="text-center mb-4"><b>Iniciar Sesión</b></h3>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label>Email:</label>
            <input type="email" formControlName="emailUsuario" class="form-control" placeholder="Introduzca su correo"
                required>  
        </div>

        <div class="mb-3">
            <label>Contraseña:</label>
            <input type="password" formControlName="passwordUsuario" class="form-control"
                placeholder="Introduce la contraseña" required>
        </div>

        <button type="submit" class="btn btn-dark" [disabled]="loginForm.invalid">Iniciar Sesión</button>
        <a routerLink="/registro" class="redireccion">¿Todavía no tienes cuenta?</a>
        <a routerLink="/recuperar-password" class="redireccion">¿No recuerdas la contraseña?</a>
    </form>

    <div *ngIf="errorMessage" class="alert alert-danger text-center mt-3">
        {{ errorMessage }}
    </div>
</div>
